<div class = "container">
	<div class="center jumbotron">	
      <h1>短发</h1>
      <h2>短小精悍&nbsp&nbsp&nbsp&nbsp发人深省</h2>
      <%= link_to "注册", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
 </div>
